- layout :default

- about do
  - title  "Smooth!!einself!1!"
  - author "J. Holderbaum"

- slides do

  = slide "This is slide #1" do
    %p content of this slide

  = slide "This is slide #1" do
    %p content of this second amazing slide

