body {
    background: black;
    font-family:"Lucida Grande","bitstream vera sans","trebuchet ms",sans-serif,verdana;
}

/* panes */
.slides {
    background: url(../img/slide-bg.jpg) no-repeat;		
    width:760px;
    height:450px;	
    position:relative;
    overflow:hidden;
    clear:both;
}


/* single pane */
.slides div {
    color: #909090;	
    margin:20px 40px;
    float:left;
    display:block;
    width:670px;
    font-size:14px;
}

/* some decorations for elements inside single pane */
.slides div h2 {
    font-weight:normal;
    color: #404040;
    letter-spacing:1px;
    margin:10px 0 0 0;
    font-size:22px;	
}

.slides a {
    color: #CDC673;		
    font-size: 14px;
}

.slides p, .slides samp {
    color: #909090;		
}

.slides .narrow {
    padding-right:160px;		
}

/* our additional wrapper element for the items */
.slides .items {
    width:20000em;
    position:absolute;
    clear:both;
    margin:0;
    padding:0;
}

.slides .less, .slides .less a {
    color:#999 !important;
    font-size:11px;
}
